.build-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

#inventory {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-style {
  padding: 10px;
  width: 9rem;
  height: auto;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
  height: inherit;
}

.confirm-button {
  display: flex;
}

#cost {
  color: black;
}

#addHouse {
  display: block;
}

.button-container {
  display: flex;
  align-items: center;
}

.cost-container {
  display: flex;
  flex-direction: column;
}