.room-container {
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
}

.white-layer {
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    border-radius: 2.5rem;
    text-align: center;
}

.room-title {
    font-size: 5rem;
}

.player-avatar {
    width: 11rem;
    height: auto;
}

.player-name {
    font-size: 3rem;
}

.sprite-selection:checked + label {
    /* background-color: yellow; */
}

.sprite-selection + label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sprite-img {
    height: 50px;
    width: 50px;
}

.sprite-container {
    width: 40px;
    margin: 1px 20px;
}