.card-styling {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

.prop-span {
  margin: 1rem 0;
  height: 30px!important;
}

.prop-span::before {
  top: 50%!important;
  transform: translateY(-50%);
}

.inv-text-styling {
  vertical-align: 10px;
}

#bottom-trade-button {
  display: block;
}